<h1>Language Dictionary</h1>


<p *ngIf="!forecasts"><em>Loading...</em></p>
<table class='table' *ngIf="forecasts">
    <thead>
        <tr>

            <th>German </th>
            <th>Tamil (F)</th>
            <th>English</th>
            <th>Description</th>
            <th>UpdatedOn</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">

            <td>{{ forecast.german }}</td>
            <td>{{ forecast.tamil }}</td>
            <td>{{ forecast.english }}</td>
            <td>{{ forecast.description }}</td>
            <td>{{ forecast.UpdatedOn }}</td>
        </tr>
    </tbody>
</table>
